# Exclude all files from root directory
/*

# ------------------------
# Common project files
!CHANGELOG.md
!README.md
!LICENSE

# ------------------------
# Include Zensical files
!docs/
!includes/
!overrides/
!mkdocs.yml
!zensical.toml

# ------------------------
# Project automation
!Makefile

# ------------------------
# Version Control
!.gitignore
!.gitattributes
!.github/
